.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.wrapper .label {
    font-size: var(--space-3);
    color: var(--color-input-label);
}


.wrapper .input {
    min-height: var(--size-md);
    padding: var(--space-4);
    border-radius: var(--space-1);
    font-size: var(--font-size-base);
    color: var(--gray-dark);
    background-color: var(--color-input-bg);
    border: 1px solid var(--input-border-color);
} 

.wrapper .input::placeholder {
    color: var(--color-input-placeholder);
}

.wrapper .errorInput {
    border-color: var(--input-border-color-error);
}

.wrapper .error {
    color: var(--color-error);
    font-size: var(--font-size-sm);
}